<div class="panel panel-success" style="padding:0" ng-controller="agentRentRecordCtrl">
	<div class="panel-heading">
        <h3 class="panel-title">共有{{hno}}套房屋</h3>
    </div>
    <div ng-repeat="house in list">
	    <div class="panel-body info">
	        <div class="info-inner info-left col-md-3">
	        	<a ng-click="getSellHouse(house.id)" class="thumbnail">
  					<img ng-src="{{house.picUrl}}">
				</a>
	        </div>
	        <div class="info-inner info-mid col-md-6" style="padding-left: 200px">
	        	<label class="text-success text-left">区域: </label>
	        	{{house.district}}区
	        	<br />
	        	<label class="text-success text-left">小区: </label>
	        	{{house.community}}
	        	<br />
	        	<label class="text-success text-left">地址: </label>
	        	{{house.address}}
	        	<br />
	        	<label class="text-success text-left">楼层: </label>
	        	{{house.floor}}楼
	        	<br />
	        	<label class="text-success text-left">户型: </label>
	        	{{house.houseType}}室
	        	<br />
	        	<label class="text-success text-left">面积: </label>
	        	{{house.area}}平方米
	        </div>
	        <div class="info-inner info-right col-md-3" style="margin-top: 50px">
	        	<form>
					<div class="input-group date" style="padding-bottom: 220px">
  						<input type="text" id="checkDate" class="form-control bootstrap-timepicker" ng-model="house.checkDate" ng-init="initTime();">
  						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar">
                    		</span>
						</span>
					</div>
					<div class="input-group pull-right"">
						<button class="btn btn-success btn-block" ng-click="setDate(house)">确定提交</button>
					</div>
				</form>
	        </div>
	        <hr style="margin: 10px 0">
	    </div>
    </div>

	<div class="row">
		<nav style="text-align: center">
			<pagination total-items="bigTotalItems" ng-change="showItems()" ng-model="bigCurrentPage" items-per-page="itemSize" max-size="maxSize" force-ellipses="true" class="pagination-sm" rotate="false" boundary-links="true" num-pages="numPages"></pagination>
		</nav>
	</div>
		

</div>