<div class="panel panel-success" style="padding:0" ng-controller="agentUserCtrl">
	<div class="panel-heading">
        <h3 class="panel-title">共有{{hno}}个用户</h3>
    </div>
    <div ng-repeat="house in list">
	    <div class="panel-body info">
	        <div class="info-inner info-left col-md-3">
	        	<a ng-click="getSellHouse(house.id)" class="thumbnail">
  					<img ng-src="{{house.imageHeaderUrl}}">
				</a>
	        </div>
	        <div class="info-inner info-mid col-md-6" style="text-align: center;">
	        	<h2><span class="text-success">姓名：</span>{{house.name}}</h2>
	        	<br />
	        	<span class="text-success">电话号码：</span>{{house.phoneNumber}}
	        	<br />
	        	<span class="text-success">租赁房屋：</span>{{house.rentNo}}套
	        	<br />
	        	<span class="text-success">出租房屋：</span>{{house.rentOutNo}}套
	        	<br />
	        	<span class="text-success">售卖房屋：</span>{{house.sellNo}}套
	        	<br />
	        	<span class="text-success">购买房屋：</span>{{house.buyNo}}套
	        </div>
	        <div class="info-inner info-right col-md-3" style="margin-top: 50px">
	        	<form>
					<div class="form-group">
						<button class="btn btn-danger btn-block" id="stopBtn" ng-click="delete(house.id)">删除用户</button>
					</div>
					<div class="form-group">
						<!-- <input type="number" ng-model="new.price"> -->
						<button class="btn btn-success btn-block" ng-click="clean(house.id)">恢复用户</button>
					</div>
				</form>
	        </div>
	        <hr style="margin: 10px 0">
	    </div>
    </div>

	<div class="row">
		<nav style="text-align: center">
			<pagination total-items="bigTotalItems" ng-change="showItems()" ng-model="bigCurrentPage" items-per-page="itemSize" max-size="maxSize" force-ellipses="true" class="pagination-sm" rotate="false" boundary-links="true" num-pages="numPages"></pagination>
		</nav>
	</div>
		

</div>