<!-- <div class="page-header" style="margin: 0" ng-controller="logOutCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <h2>HomePlus</h2>
            </div>
            <div class="col-md-3 pull-right">
                <h2><small>
                    <a ui-sref="index">返回首页</a>
                    &nbsp;&nbsp;&nbsp;
                    <a ui-sref="index" ng-click="logOut()">退出登录</a>
                </small></h2>
            </div>
        </div>
    </div>
</div> -->


<div class="container-fluid" ng-controller="logOutCtrl">
    <div class="row">
        <nav class="navbar navbar-static-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header" style="margin-left: 100px">
                     <a class="navbar-brand" ui-sref="index">HomePlus</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 100px">
                        <li id="buy"><a ui-sref="index">返回首页</a></li>
                        <li id="sell"><a ui-sref="index" ng-click="logOut()">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


    <div class="container" id="crop-avatar" ng-controller="imgCtrl">
            
            <!-- Current avatar -->
            <div style="text-align:center;color:red;margin:50px 0">提示：点击头像上传</div>
            <div class="avatar-view" title="Change the avatar">
                <!-- <img src="images/picture.jpg" alt="Avatar"/> -->
                <img ng-src="{{myVar}}" alt="Avatar"/>
            </div>

            <!-- Cropping modal -->
            <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form class="avatar-form" action="http://localhost:8090/api/purchaser/image_head" enctype="multipart/form-data" method="post">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                                <h4 class="modal-title" id="avatar-modal-label">更换头像</h4>
                            </div>
                            <div class="modal-body">
                                <div class="avatar-body">

                                    <!-- Upload image and data -->
                                    <div class="avatar-upload">
                                        <input class="avatar-src" name="avatar_src" type="hidden"/>
                                        <input class="userId" name="userId" type="hidden" />
                                        <input class="avatar-data" name="avatar_data" type="hidden"/>
                                        <label for="avatarInput">头像上传</label>
                                        <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"/>
                                    </div>

                                    <!-- Crop and preview -->
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="avatar-wrapper"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="avatar-preview preview-lg"></div>
                                            <div class="avatar-preview preview-md"></div>
                                            <div class="avatar-preview preview-sm"></div>
                                        </div>
                                    </div>

                                    <div class="row avatar-btns">
                                        <div class="col-md-9">
                                            <div class="btn-group">
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="-45" type="button">-45deg</button>
                                            </div>
                                            <div class="btn-group">
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="15" type="button">15deg</button>
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="30" type="button">30deg</button>
                                                <button class="btn btn-primary disabled" data-method="rotate" data-option="45" type="button">45deg</button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary btn-block avatar-save" type="submit">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="modal-footer">
                              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div><!-- /.modal -->

            <!-- Loading state -->
            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
        </div>

<footer style="margin-top: 180px">
    <div class="container text-center">
        <p>Designed by <a ui-sref="index"><span>Dade</span></a></p>
    </div>
</footer>

        <script src="lib/images/cropper.min.js"></script>
        <script src="lib/images/main.js"></script>