<div class="container" ng-controller="dataBuyCtrl">
	<div class="row" style="margin-bottom: 20px">
		<ul class="nav nav-tabs">
			<li role="presentation">
		  		<a ui-sref="info-data-sell">房屋出售</a>
		  	</li>
		  <li role="presentation"> 
		  	<a ui-sref="info-data-rent">房屋出租</a>
		  </li>
		  <li role="presentation" class="active">
		  	<a ui-sref="info-data-buy">已买房屋</a>
		  </li>
		  <li role="presentation">
		  	<a ui-sref="info-data-rented">已租房屋</a>
		  </li>
		  <li role="presentation">
		  	<a ui-sref="info-data-nick">更改昵称</a>
		  </li>
		  <li role="presentation">
		  	<a ui-sref="info-data-pwd">修改密码</a>
		  </li>
		</ul>
	</div>
	<div ng-repeat="house in hlist">
		<div class="row well col-md-9" style="height: 180px;font-size: 20px;text-align: center;">
			<span class="text-success">区域：</span>{{house.district}}区<br />
			<span class="text-success">小区：</span>{{house.community}}<br />
			<span class="text-success">地址：</span>{{house.address}}<br />
			<span class="text-success">楼层：</span>{{house.floor}}楼<br />	
			<span class="text-success">价格：</span>{{house.sellPrice}}万元
		</div>
<!-- 		<div class="row well col-md-4" style="height: 180px">
			<form>
				<div class="form-group">
					<button class="btn btn-danger btn-block" id="stopBtn" ng-click="stopRent(house.id)">停止出租</button>
				</div>
				<div class="form-group">
					<input type="number" ng-model="new.price">
					<button class="btn btn-success" ng-click="newBtn(house.id)">提交新价格</button>
				</div>
			</form>

		</div> -->
		
	</div>
</div>