<div class="container" ng-controller="focusRentOutCtrl">
	<div class="row" style="margin-bottom: 20px">
		<ul class="nav nav-pills">
		  <li>
		    <a ui-sref="info-focus-buy">买房</a>
		  </li>
		  <li><a ui-sref="info-focus-sell">卖房</a></li>
		  <li><a ui-sref="info-focus-rent">租房</a></li>
		  <li class="active"><a ui-sref="info-focus-rentOut">出租</a></li>
		</ul>
	</div>
	<!-- <div ng-repeat="house in hlist">
		<div class="row well col-md-9">
			<div>{{house.pic}}</div>
			<div>{{house.name}}</div>
			<div>{{house.size}}</div>
			<div>{{house.price}}</div>
		</div>
	</div> -->
	<div ng-repeat="house in hlist">
		<div class="row well col-md-5" style="height: 220px;padding: 0 0">
			<img ng-src="{{house.picUrl}}" style="height: 180px;margin-left: 100px;margin-top: 20px">		
		</div>
		<div class="row well col-md-4" style="height: 220px;font-size: 20px;text-align: center;">
			<span class="text-success">区域：</span>{{house.district}}区<br />
			<span class="text-success">小区：</span>{{house.community}}<br />
			<span class="text-success">地址：</span>{{house.address}}<br />
			<span class="text-success">楼层：</span>{{house.floor}}楼<br />	
			<span class="text-success">价格：</span>{{house.rentPrice}}元/月<br />
			<span class="text-success">状态：</span>{{house.status}}<br />
			<span ng-show="'未通过审核' == house.status" class="text-success">理由：</span>{{house.denyInfo}}<br />
			<button ng-show="'通过审核'==house.status" class="btn btn-success btn-block" ng-click="getRentOutHouse(house.id)">前往</button>
		</div>
	</div>
</div>