<div class="jumbotron" style="padding-top: 0">
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h3>您的看房记录如下</h3>
			</div>
		</div>
		<div class="row" ng-controller="BookListCtrl">
			<!-- <div ng-controller="BookListCtrl">
				<div class="row">
			        <div class="col-md-12">
			            <div>
			                <div class="gridStyle" ng-grid="gridOptions">
			                </div>
			            </div>
			        </div>
			    </div> 
			</div> -->

			<div ng-repeat="house in list">
				<div class="row well col-md-7" style="height: 250px;padding: 0 0;text-align: center;">
					<img ng-src="{{house.picUrl}}" style="height: 180px;margin-top: 30px">		
				</div>
				<div class="row well col-md-5" style="height: 250px;font-size: 20px;text-align: center;">
					<span class="text-danger">{{house.typeInfo}}</span><br />
					<span class="text-success">区域：</span>{{house.district}}区<br />
					<span class="text-success">小区：</span>{{house.community}}<br />
					<span class="text-success">地址：</span>{{house.address}}<br />
					<span class="text-success">楼层：</span>{{house.floor}}楼<br />	
<!-- 					<span class="text-success" ng-bind="house.priceInfo"></span><br /> -->
<!-- 					<button class="btn btn-success btn-block" ng-click="getRentHouse(house.id)">前往</button> -->
				</div>
			</div>
		</div>
	</div>
</div>