<link rel="stylesheet" type="text/css" href="../css/login.css">
<div class="navbar navbar-static-top navbar-inverse" style="margin-bottom: 0">
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
<!--       <div class="col-md-1">
        <h2>HomePlus</h2>
      </div> -->
      <div class="container-fluid">
        <div class="navbar-header" style="margin-left: 100px">
           <a class="navbar-brand" ui-sref="index">HomePlus</a>
        </div>
      <!-- <div class="col-md-2 pull-right">
        <h2><small><a ui-sref="index">返回首页</a></small></h2> -->
      <!-- </div> -->
    <!-- </div> -->

          <div>
              <ul class="nav navbar-nav navbar-right" style="margin-right: 100px;">
                  <li id="buy"><a ui-sref="register">注册</a></li>
              </ul>
          </div>
  </div>
  
</div>


<div class="jumbotron" style="margin-bottom: 0;height: 520px;background:url(../images/login.jpg) center center;background-size: cover;
-webkit-background-size: cover;   
-moz-background-size: cover;   
-o-background-size: cover;">
  <div class="container" ng-controller="loginCtrl">
  <!-- <div class="row myCenter" style="margin-bottom: 180px">  
    <div class="col-xs-6 col-md-4 col-center-block">  
      <form class="form-signin" ng-submit="login()">  
        <h2>请登录<div class="pull-right"></div></h2>
        <label for="username" class="sr-only">手机号码</label>  
        <input name="username" type="text" id="username" class="form-control" placeholder="手机号码" required autofocus style="margin-bottom: 10px"  ng-model="credentials.username">

        <label for="inputPassword" class="sr-only">密码</label>  
        <input ng-model="credentials.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="密码" required style="margin-bottom: 10px">  
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Login">登录</button> 
      </form>  
    </div>  
  </div>      --> 

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>用户登录</h3>
              <p>请输入您的手机号和密码：</p>
          </div>
          <div class="form-top-right">
            <i class="fa fa-key"></i>
          </div>
          </div>
          <div class="form-bottom">
            <form role="form" ng-submit="login()" class="login-form">
              <div class="form-group">
                <label class="sr-only" for="form-username">手机号码</label>
                  <input type="text" name="form-username" placeholder="手机号码..." class="form-username form-control" id="form-username" ng-model="credentials.username">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="form-password">密码</label>
                  <input type="password" name="form-password" placeholder="密码..." class="form-password form-control" id="form-password" ng-model="credentials.password">
                </div>
                <button type="submit" class="btn">登录!</button>
            </form>
          </div>
      </div>
  </div>


  </div>
</div>

<footer>
  <div class="container text-center">
    <p>Designed by <a ui-sref="index"><span>Dade</span></a></p>
  </div>
</footer>